@inject UserManager<AppUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-3 my-sm-2" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Enter 
    </a>
    <span style="padding:5px;"></span>

    <a class="btn btn-outline-primary my-3 my-sm-2" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus-fill"></i> Create new Account
    </a>
    <span style="padding:5px;"></span>
}
else
{
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Hi @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Order" asp-action="ListOfOrders" style="text-align:left"><i class="bi bi-card-checklist"></i>   Orders</a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users" style="text-align:left"><i class="bi bi-people"></i>   Users</a>
                </li>
            }

        </ul>
    </div>

    <span style="padding:5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-3 my-sm-2">
            <i class="bi bi-box-arrow-in-right"></i> Exit
        </button>
    </form>
}