<div class="row text-black-50 text-center text-capitalize">
    <div class="col-md-2 offset-5">
        <h1>Never existed!</h1>
        <hr />
        <a class="btn btn-outline-secondary" asp-action="Teachers" asp-controller="Teacher">Go back! And try again!</a>
    </div>    
</div>