<div class="row">
    <div class="col-md-6 offset-3 alert alert-warning text-center">
        <h2>Success! Was created successfully!</h2>
        <p>You can log in now!</p>
        <hr />
        <p>Buy with us - we have some class!</p>
    </div>
</div>