@model int;

@if (Model > 0)
{
    <li class="nav-item">
        <a class="nav-link text-green" asp-controller="Order" asp-action="Orders">
            <i class="bi bi-cart3"></i> @Model
        </a>
    </li>
}